<a href="https://colab.research.google.com/github/A-R-M-028/IMDB-Dataset-Analysis/blob/main/Project1_SQL_Query_IMDB_Dataset_Analysix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Dataset
https://drive.google.com/file/d/1xRpPMZ6eD0SdoQlbhGk28k1BsKOLTe7t/view?usp=drive_link

# Importing the libraries

In [89]:
# NumPY -> To perform the Mathematical Operations
import numpy as np

# Pandas -> Data Analysis Tool (DE, DM, DC, DV)
import pandas as pd

# Matplotlib -> Data Visualisations  Tool
import matplotlib.pyplot as plt

# Seaborn -> Data Visualisations  Tool
import seaborn as sns

# ReGex -> Data Cleaning
import re

# SQLite -> Serverless Database
import sqlite3

# Planning/Approach

In [ ]:
# Step1: Connect your database or create a connection -> sqlite3.connect(database_name)
# Step2: Use the cursor function -> database_variable.cursor()

#                                              Workflow

# NB -> Cursors provide a way to navigate through query results, fetching data from Database in a controlled and efficient manner

# 1. You need to establish a connection to the SQLite Database by creating a connecton/connection object
# 2. Then you need to create a cursor object using the cursor() method
# 3. Then execute the query -> cursor_variable.execute('query')
# 4. To fetch the data, then use fetchall() method of the cursor variable/object
# 5. You have to create a DataFrame w.r.t the SQLite
# 6. Data Analysis(EDA, Explatory Data Analysis) -> Data Exploration, Data Manipulation, Data Cleatning, Data Visulaization
# 7. Conclusion at every steps

# Establishing the Connection to the Database

In [90]:
# Storing the path of dataset into a variable 'db
db = ('/content/drive/MyDrive/Projects/movies.sqlite')

# Creting a database connection object
conn = sqlite3.connect(db)

# Creating a cursor object
cur = conn.cursor()

In [91]:
# Fetch all the data of the movies from the movie table in the above database
cur.execute('SELECT * FROM movies')

# Creating a cursor object
movies = cur.fetchall()

In [ ]:
# Displaying all the data from movies table
movies

In [ ]:
# Creating a DataFrame
columns= ['id', 'original_title', 'budget', 'popularity', 'release_data', 'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagling', 'uid', 'director_id']
movies_df = pd.DataFrame(movies, columns = columns)

In [ ]:
# Display the dataframe
movies_df

In [ ]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4773 entries, 0 to 4772
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              4773 non-null   int64
 1   original_title  4773 non-null   object
 2   budget          4773 non-null   int64
 3   popularity      4773 non-null   int64
 4   release_data    4773 non-null   object
 5   revenue         4773 non-null   int64
 6   title           4773 non-null   object
 7   vote_average    4773 non-null   float64
 8   vote_count      4773 non-null   int64
 9   overview        4770 non-null   object
 10  tagling         3951 non-null   object
 11  uid             4773 non-null   int64
 12  director_id     4773 non-null   int64
dtypes: float64(1), int64(7), object(5)
memory usage: 484.9+ KB

In [ ]:
# Fetch all the data of the directors from the directors table in the above database
cur.execute('SELECT * FROM directors')

# Creating a cursor object
directors = cur.fetchall()

In [ ]:
directors

In [ ]:
# Creating a DataFrame
directors_df = pd.DataFrame(directors, columns = ['name', 'director_id', 'gender', 'uid', 'department'])

In [ ]:
directors_df

                   name  director_id  gender      uid department
0         James Cameron         4762       2     2710  Directing
1        Gore Verbinski         4763       2     1704  Directing
2            Sam Mendes         4764       2       39  Directing
3     Christopher Nolan         4765       2      525  Directing
4        Andrew Stanton         4766       2        7  Directing
...                 ...          ...     ...      ...        ...
2344      Shane Carruth         7106       2    76624  Directing
2345   Neill Dela Llana         7107       0  1174437  Directing
2346        Scott Smith         7108       0  1219158  Directing
2347        Daniel Hsia         7109       2   208138  Directing
2348   Brian Herzlinger         7110       2    85563  Directing

[2349 rows x 5 columns]

In [ ]:
directors_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2349 entries, 0 to 2348
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         2349 non-null   object
 1   director_id  2349 non-null   int64
 2   gender       2349 non-null   int64
 3   uid          2349 non-null   int64
 4   department   2349 non-null   object
dtypes: int64(3), object(2)
memory usage: 91.9+ KB

In [ ]:
movies_df.shape

(4773, 13)

In [ ]:
directors_df.shape

(2349, 5)

In [ ]:
movies_df.describe()

## Q1: How many movies are present in the movies table?

In [ ]:
movies_df.columns

Index(['id', 'original_title', 'budget', 'popularity', 'release_data',
       'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagling',
       'uid', 'director_id'],
      dtype='object')

In [ ]:
cur.execute('SELECT COUNT(id) FROM movies')
count = cur.fetchall()
print(f'The number of movies availabe in the movies table {count[0][0]}')

The number of movies availabe in the movies table 4773

In [ ]:
# OR -> Error
query = cur.execute('SELECT COUNT(id) FROM movies')
count = cur.fetchall(query)
print(f'The number of movies availabe in the movies table {count[0][0]}')

The number of movies availabe in the movies table 4773

In [ ]:
# Accessing [List[] [tuple] -> Particular value
count[0][0]

4773

## Q2: Find out these three directors ->
1. James Cameron
2. Luc Besson
3. John Woo

In [ ]:
# "SELECT * FROM directors WHERE name = 'James Cameron' OR name = 'Luc Besson' OR name = 'John Woo'"
cur.execute("SELECT * FROM directors WHERE name IN ('James Cameron', 'Luc Besson', 'John Woo')")
three_directors = cur.fetchall()
print(f'Here are the ifno for the asked directors {three_directors}')

Here are the ifno for the asked directors [('James Cameron', 4762, 2, 2710, 'Directing'), ('John Woo', 4893, 2, 11401, 'Directing'), ('Luc Besson', 4949, 2, 59, 'Directing')]

## Q3: Find all the directors with the name starting with 'Steven'

In [ ]:
cur.execute("SELECT * FROM directors WHERE name LIKE 'steven%'")
directors = cur.fetchall()
print(f'Here are the ifno for the asked directors {directors}')

Here are the ifno for the asked directors [('Steven Spielberg', 4799, 2, 488, 'Directing'), ('Steven Soderbergh', 4909, 2, 1884, 'Directing'), ('Steven Brill', 5013, 2, 32593, 'Directing'), ('Steven Zaillian', 5117, 2, 2260, 'Directing'), ('Steven Quale', 5216, 2, 93214, 'Directing'), ('Steven Seagal', 5221, 2, 23880, 'Directing'), ('Steven E. de Souza', 5390, 2, 1726, 'Directing'), ('Steven Shainberg', 5803, 2, 67795, 'Directing'), ('Steven R. Monroe', 6713, 2, 88039, 'Directing')]

## Q4: Count all the female directors
* Hints: gender =1

In [ ]:
directors_df.columns

Index(['name', 'director_id', 'gender', 'uid', 'department'], dtype='object')

In [ ]:
# id OR ANY -> 'name', 'director_id', 'gender', 'uid', 'department'
cur.execute('SELECT COUNT(id) FROM directors WHERE gender = 1')
female_directors = cur.fetchall()
print(f'Here are the ifno for the asked directors {female_directors[0][0]}')

Here are the ifno for the asked directors 150

* Conclusion -> There are 150 female directors in the directors section

## Q5: Find the name of the  10th first female directors

In [ ]:
cur.execute('SELECT name FROM directors where gender = 1')
tenth_female_director = cur.fetchall()
print(f'Here are the all female directors {tenth_female_director}')
# All data given List of tuples [(), () .....]
print(f'Here are the 10th first female directors {tenth_female_director[9][0]}')

Here are the all female directors [('Brenda Chapman',), ('Lilly Wachowski',), ('Jennifer Yuh Nelson',), ('Kathryn Bigelow',), ('Nancy Meyers',), ('Jill Culton',), ('Mimi Leder',), ('Vicky Jenson',), ('Betty Thomas',), ('Angelina Jolie',), ('Karyn Kusama',), ('Phyllida Lloyd',), ('Angela Robinson',), ('Beeban Kidron',), ('Deepa Mehta',), ('Penny Marshall',), ('Julie Taymor',), ('Susan Stroman',), ('Catherine Hardwicke',), ('Julie Anne Robinson',), ('Anne Fletcher',), ('Sam Taylor-Johnson',), ('Joan Chen',), ('Diane Keaton',), ('Sofia Coppola',), ('Elaine May',), ('Dennie Gordon',), ('Jennifer Flackett',), ('Nanette Burstein',), ('Liz Friedlander',), ('Martha Coolidge',), ('Niki Caro',), ('Liliana Cavani',), ('Elizabeth Banks',), ('Callie Khouri',), ('Sanaa Hamri',), ('Jodie Foster',), ('Sharon Maguire',), ('Cathy Malkasian',), ('Kirsten Sheridan',), ('Rachel Talalay',), ('Inna Evlannikova',), ('Bonnie Hunt',), ('Mary McGuckian',), ('Anne Fontaine',), ('Mira Nair',), ('Jessie Nelson',), ('Deborah Kaplan',), ('Katt Shea',), ('Thea Sharrock',), ('Ava DuVernay',), ('Jun Falkenstein',), ('Jessica Bendinger',), ('Amy Heckerling',), ('Nancy Walker',), ('Audrey Wells',), ('Kasi Lemmons',), ('Andrea Di Stefano',), ('Diane English',), ('Clare Kilner',), ('Susanne Bier',), ('Gillian Armstrong',), ('Sara Sugarman',), ('Gina Prince-Bythewood',), ('Elizabeth Allen Rosenbaum',), ('Lone Scherfig',), ('Drew Barrymore',), ('Mary Lambert',), ('Katja von Garnier',), ('Bronwen Hughes',), ('Daisy von Scherler Mayer',), ('Isabel Coixet',), ('Tamra Davis',), ('Darnell Martin',), ('Jane Campion',), ('Antonia Bird',), ('Agnieszka Holland',), ('Lisa Azuelos',), ('Léa Pool',), ('Patricia Rozema',), ('Lorene Scafaria',), ('Katherine Dieckmann',), ('Kari Skogland',), ('Gurinder Chadha',), ('Emily Young',), ('Maïwenn',), ('Mary Harron',), ('Nicole Holofcener',), ('Fina Torres',), ('Coky Giedroyc',), ('Claudia Llosa',), ('Sharron Miller',), ('Lynne Ramsay',), ('Shari Springer Berman',), ('Rachel Perkins',), ('Caroline Link',), ('Risa Bramon Garcia',), ('Deb Hagan',), ('Joey Lauren Adams',), ('Liv Ullmann',), ('Patty Jenkins',), ('Christine Jeffs',), ('Marcia Bennett',), ('Gabriela Tagliavini',), ('Agnieszka Wojtowicz-Vosloo',), ('Lisa Cholodenko',), ('Allison Anders',), ('Ruba Nadda',), ('Amanda Gusack',), ('Karen Moncrieff',), ('Nnegest Likké',), ('Jill Sprecher',), ('Andrea Arnold',), ('Francesca Gregorini',), ('Alison Maclean',), ('Alice Wu',), ('Hayley Cloake',), ('Debra Granik',), ('Miranda July',), ('Marielle Heller',), ('Kelly Reichardt',), ('Jehane Noujaim',), ('Vera Farmiga',), ('Sally Potter',), ('Nadine Labaki',), ('Adrienne Shelly',), ('Rebecca Miller',), ('Tara Subkoff',), ('Jamie Babbit',), ('Anna Muylaert',), ('Mona Lerche',), ('Gillian Robespierre',), ('Courtney Hunt',), ('Katherine Brooks',), ('Mary Pat Kelly',), ('Lori Petty',), ('Katie Aselton',), ('Allison Burnett',), ('Maryam Keshavarz',), ('Catherine Jelski',), ('Amy Holden Jones',), ('Marilyn Agrelo',), ('Neema Barnette',), ('Maria Maggenti',), ('Hilary Brougher',), ('Marianna Palka',), ('Ricki Stern',), ('Lynn Shelton',), ('Julie Davis',), ('Lena Dunham',)]
Here are the 10th first female directors Angelina Jolie

## Q6: Find the top 3 most popular movies

In [ ]:
movies_df.columns

Index(['id', 'original_title', 'budget', 'popularity', 'release_data',
       'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagling',
       'uid', 'director_id'],
      dtype='object')

In [ ]:
cur.execute('SELECT popularity FROM movies')
top_three_movies= cur.fetchall()
print(f'Top three movies {top_three_movies}')

Top three movies [(150,), (139,), (107,), (112,), (43,), (115,), (48,), (134,), (98,), (155,), (57,), (107,), (145,), (49,), (99,), (53,), (144,), (135,), (52,), (120,), (89,), (37,), (94,), (42,), (61,), (100,), (198,), (64,), (418,), (93,), (35,), (77,), (78,), (3,), (89,), (21,), (116,), (46,), (89,), (73,), (49,), (51,), (59,), (71,), (102,), (81,), (118,), (78,), (43,), (61,), (62,), (56,), (28,), (75,), (51,), (125,), (65,), (66,), (22,), (45,), (39,), (85,), (42,), (67,), (139,), (187,), (92,), (36,), (120,), (32,), (40,), (60,), (90,), (27,), (79,), (44,), (32,), (128,), (94,), (77,), (77,), (110,), (243,), (2,), (41,), (72,), (44,), (130,), (203,), (62,), (47,), (48,), (67,), (69,), (481,), (724,), (167,), (9,), (108,), (6,), (60,), (3,), (127,), (35,), (21,), (56,), (42,), (63,), (202,), (49,), (34,), (25,), (39,), (78,), (101,), (56,), (70,), (53,), (65,), (115,), (44,), (81,), (5,), (73,), (165,), (70,), (99,), (434,), (67,), (86,), (41,), (26,), (44,), (50,), (114,), (21,), (29,), (51,), (33,), (63,), (39,), (12,), (22,), (48,), (38,), (66,), (44,), (54,), (66,), (58,), (91,), (35,), (56,), (77,), (61,), (25,), (52,), (101,), (73,), (82,), (100,), (56,), (17,), (64,), (24,), (34,), (59,), (21,), (26,), (74,), (39,), (36,), (99,), (17,), (62,), (44,), (100,), (44,), (29,), (84,), (45,), (84,), (120,), (76,), (63,), (48,), (38,), (20,), (48,), (46,), (89,), (79,), (28,), (42,), (26,), (115,), (68,), (109,), (39,), (271,), (206,), (45,), (42,), (2,), (7,), (81,), (47,), (43,), (27,), (90,), (50,), (45,), (41,), (54,), (25,), (60,), (51,), (46,), (62,), (33,), (68,), (27,), (67,), (27,), (66,), (17,), (11,), (44,), (67,), (44,), (43,), (106,), (15,), (54,), (64,), (20,), (18,), (60,), (143,), (110,), (16,), (39,), (38,), (48,), (100,), (42,), (23,), (76,), (44,), (103,), (45,), (22,), (31,), (71,), (36,), (19,), (86,), (37,), (32,), (23,), (45,), (48,), (138,), (22,), (18,), (18,), (95,), (44,), (30,), (62,), (167,), (37,), (1,), (52,), (95,), (65,), (132,), (88,), (51,), (101,), (33,), (42,), (38,), (40,), (32,), (24,), (24,), (82,), (46,), (51,), (53,), (58,), (30,), (31,), (36,), (41,), (20,), (52,), (95,), (48,), (58,), (73,), (37,), (32,), (76,), (38,), (19,), (61,), (33,), (17,), (50,), (12,), (30,), (34,), (3,), (41,), (46,), (12,), (23,), (19,), (44,), (16,), (109,), (18,), (37,), (65,), (101,), (29,), (85,), (123,), (106,), (63,), (41,), (58,), (1,), (138,), (21,), (65,), (10,), (77,), (7,), (61,), (104,), (73,), (37,), (35,), (15,), (46,), (69,), (43,), (40,), (63,), (67,), (43,), (47,), (51,), (57,), (29,), (51,), (27,), (38,), (40,), (140,), (34,), (16,), (55,), (28,), (18,), (40,), (56,), (51,), (20,), (27,), (16,), (46,), (24,), (19,), (15,), (15,), (31,), (24,), (3,), (14,), (32,), (57,), (37,), (53,), (36,), (60,), (36,), (56,), (29,), (34,), (9,), (36,), (44,), (41,), (16,), (42,), (26,), (80,), (41,), (24,), (32,), (16,), (8,), (19,), (36,), (18,), (5,), (48,), (38,), (29,), (17,), (31,), (57,), (41,), (13,), (11,), (21,), (58,), (51,), (18,), (109,), (77,), (75,), (68,), (58,), (59,), (36,), (55,), (14,), (34,), (44,), (26,), (23,), (45,), (23,), (16,), (81,), (19,), (29,), (46,), (23,), (49,), (37,), (45,), (46,), (24,), (32,), (11,), (19,), (36,), (25,), (41,), (22,), (139,), (18,), (11,), (41,), (27,), (17,), (21,), (0,), (61,), (14,), (25,), (6,), (36,), (31,), (21,), (18,), (40,), (44,), (3,), (20,), (36,), (18,), (16,), (10,), (7,), (16,), (9,), (11,), (14,), (11,), (52,), (13,), (27,), (10,), (7,), (50,), (0,), (59,), (90,), (40,), (41,), (10,), (16,), (22,), (10,), (35,), (15,), (8,), (31,), (47,), (136,), (60,), (2,), (48,), (35,), (4,), (73,), (51,), (85,), (61,), (31,), (15,), (17,), (71,), (38,), (57,), (13,), (13,), (18,), (47,), (14,), (18,), (29,), (27,), (23,), (48,), (14,), (36,), (24,), (19,), (13,), (37,), (23,), (14,), (10,), (11,), (12,), (8,), (20,), (42,), (875,), (39,), (20,), (18,), (45,), (21,), (20,), (26,), (12,), (13,), (60,), (32,), (46,), (11,), (8,), (8,), (27,), (21,), (28,), (47,), (82,), (20,), (46,), (36,), (16,), (72,), (33,), (57,), (34,), (27,), (20,), (42,), (29,), (19,), (59,), (19,), (49,), (46,), (13,), (29,), (43,), (24,), (23,), (64,), (20,), (48,), (16,), (14,), (14,), (29,), (13,), (58,), (23,), (14,), (29,), (9,), (8,), (10,), (10,), (6,), (46,), (24,), (13,), (44,), (25,), (22,), (107,), (22,), (113,), (10,), (68,), (18,), (12,), (27,), (26,), (28,), (37,), (11,), (38,), (25,), (18,), (12,), (76,), (54,), (31,), (99,), (26,), (36,), (104,), (68,), (14,), (48,), (28,), (22,), (31,), (43,), (43,), (15,), (26,), (22,), (18,), (24,), (19,), (31,), (27,), (33,), (59,), (38,), (49,), (11,), (9,), (6,), (42,), (15,), (14,), (15,), (146,), (8,), (16,), (2,), (31,), (20,), (28,), (85,), (4,), (60,), (42,), (40,), (24,), (40,), (13,), (18,), (9,), (12,), (18,), (11,), (13,), (11,), (68,), (19,), (16,), (65,), (32,), (30,), (103,), (31,), (47,), (143,), (86,), (59,), (18,), (56,), (29,), (18,), (42,), (18,), (62,), (24,), (41,), (26,), (16,), (18,), (113,), (28,), (19,), (41,), (23,), (12,), (44,), (37,), (10,), (56,), (22,), (15,), (38,), (10,), (51,), (20,), (45,), (4,), (28,), (22,), (47,), (10,), (39,), (19,), (29,), (4,), (16,), (21,), (13,), (42,), (29,), (61,), (37,), (37,), (30,), (15,), (59,), (19,), (27,), (29,), (25,), (23,), (21,), (13,), (6,), (15,), (23,), (21,), (22,), (18,), (24,), (12,), (21,), (18,), (18,), (17,), (16,), (21,), (16,), (36,), (28,), (18,), (29,), (8,), (15,), (13,), (15,), (5,), (22,), (45,), (18,), (14,), (14,), (27,), (14,), (52,), (15,), (6,), (4,), (8,), (514,), (9,), (87,), (45,), (13,), (6,), (31,), (7,), (19,), (14,), (1,), (2,), (12,), (33,), (21,), (31,), (14,), (48,), (9,), (35,), (23,), (138,), (47,), (29,), (47,), (48,), (20,), (34,), (22,), (36,), (52,), (38,), (19,), (79,), (19,), (20,), (80,), (32,), (15,), (21,), (79,), (13,), (50,), (22,), (29,), (25,), (17,), (32,), (17,), (14,), (45,), (7,), (32,), (12,), (39,), (39,), (8,), (7,), (8,), (10,), (23,), (27,), (20,), (4,), (18,), (15,), (29,), (4,), (4,), (12,), (14,), (9,), (22,), (23,), (23,), (12,), (67,), (41,), (22,), (59,), (22,), (18,), (30,), (9,), (7,), (19,), (45,), (57,), (8,), (46,), (23,), (49,), (16,), (1,), (6,), (73,), (38,), (26,), (30,), (25,), (15,), (40,), (32,), (24,), (40,), (27,), (15,), (39,), (10,), (5,), (94,), (67,), (26,), (28,), (27,), (68,), (37,), (35,), (38,), (18,), (37,), (30,), (23,), (52,), (50,), (43,), (45,), (16,), (38,), (65,), (45,), (17,), (10,), (38,), (32,), (18,), (32,), (37,), (17,), (9,), (46,), (30,), (83,), (23,), (84,), (16,), (9,), (12,), (11,), (53,), (14,), (43,), (16,), (42,), (34,), (18,), (13,), (19,), (62,), (32,), (14,), (39,), (28,), (20,), (20,), (33,), (42,), (15,), (29,), (28,), (14,), (9,), (12,), (41,), (13,), (19,), (9,), (11,), (12,), (13,), (16,), (23,), (6,), (6,), (42,), (19,), (10,), (13,), (21,), (61,), (25,), (21,), (22,), (6,), (74,), (35,), (14,), (21,), (21,), (19,), (3,), (21,), (7,), (12,), (18,), (8,), (27,), (40,), (11,), (37,), (6,), (2,), (30,), (8,), (21,), (2,), (31,), (25,), (80,), (26,), (116,), (33,), (53,), (0,), (34,), (40,), (18,), (30,), (11,), (19,), (8,), (48,), (88,), (16,), (19,), (1,), (7,), (18,), (7,), (63,), (24,), (10,), (6,), (15,), (10,), (41,), (25,), (22,), (12,), (26,), (24,), (0,), (28,), (49,), (36,), (32,), (53,), (30,), (17,), (17,), (31,), (19,), (10,), (88,), (52,), (30,), (35,), (17,), (43,), (23,), (17,), (27,), (26,), (37,), (87,), (26,), (16,), (10,), (2,), (8,), (51,), (7,), (12,), (44,), (6,), (12,), (11,), (31,), (24,), (28,), (20,), (25,), (11,), (20,), (32,), (27,), (6,), (11,), (13,), (12,), (6,), (9,), (7,), (3,), (21,), (6,), (11,), (9,), (14,), (5,), (5,), (3,), (35,), (5,), (62,), (54,), (33,), (16,), (38,), (3,), (46,), (5,), (49,), (24,), (19,), (5,), (25,), (18,), (23,), (21,), (44,), (62,), (28,), (31,), (33,), (6,), (37,), (13,), (26,), (14,), (3,), (14,), (16,), (28,), (45,), (15,), (14,), (34,), (23,), (19,), (74,), (7,), (7,), (32,), (5,), (36,), (14,), (73,), (34,), (9,), (28,), (49,), (36,), (19,), (43,), (115,), (98,), (21,), (25,), (26,), (37,), (21,), (68,), (69,), (26,), (32,), (24,), (45,), (36,), (45,), (22,), (31,), (31,), (67,), (24,), (53,), (25,), (37,), (21,), (66,), (24,), (25,), (29,), (26,), (17,), (21,), (52,), (34,), (32,), (48,), (24,), (17,), (14,), (23,), (19,), (26,), (26,), (38,), (74,), (82,), (18,), (41,), (23,), (47,), (7,), (32,), (29,), (29,), (16,), (19,), (14,), (12,), (27,), (3,), (7,), (39,), (14,), (8,), (17,), (43,), (15,), (35,), (25,), (10,), (72,), (3,), (38,), (6,), (24,), (9,), (15,), (32,), (8,), (31,), (22,), (12,), (7,), (10,), (3,), (4,), (13,), (3,), (22,), (19,), (13,), (17,), (4,), (33,), (16,), (3,), (5,), (7,), (3,), (14,), (22,), (6,), (4,), (47,), (2,), (41,), (8,), (7,), (73,), (10,), (15,), (8,), (4,), (6,), (16,), (15,), (5,), (1,), (14,), (28,), (9,), (2,), (10,), (51,), (13,), (4,), (26,), (16,), (31,), (17,), (8,), (14,), (6,), (8,), (64,), (17,), (6,), (44,), (16,), (37,), (18,), (27,), (45,), (2,), (22,), (21,), (14,), (18,), (22,), (5,), (24,), (14,), (19,), (16,), (5,), (20,), (11,), (13,), (41,), (6,), (5,), (30,), (3,), (11,), (18,), (10,), (52,), (46,), (4,), (5,), (23,), (25,), (6,), (3,), (57,), (57,), (24,), (27,), (31,), (14,), (33,), (30,), (25,), (46,), (6,), (127,), (27,), (16,), (100,), (2,), (9,), (23,), (33,), (6,), (11,), (19,), (29,), (8,), (2,), (11,), (70,), (1,), (6,), (3,), (82,), (19,), (18,), (44,), (6,), (36,), (25,), (21,), (50,), (49,), (83,), (24,), (34,), (27,), (45,), (72,), (3,), (29,), (24,), (11,), (11,), (23,), (38,), (25,), (28,), (9,), (18,), (9,), (40,), (50,), (31,), (19,), (38,), (13,), (51,), (14,), (6,), (11,), (40,), (40,), (36,), (23,), (25,), (60,), (18,), (14,), (15,), (6,), (19,), (50,), (3,), (17,), (22,), (28,), (19,), (11,), (27,), (12,), (8,), (12,), (14,), (14,), (5,), (15,), (23,), (5,), (25,), (22,), (35,), (19,), (14,), (9,), (19,), (29,), (11,), (17,), (18,), (10,), (28,), (16,), (13,), (9,), (9,), (9,), (6,), (10,), (11,), (6,), (16,), (14,), (43,), (2,), (27,), (3,), (17,), (10,), (37,), (0,), (16,), (3,), (9,), (5,), (9,), (2,), (2,), (5,), (13,), (20,), (0,), (131,), (16,), (9,), (24,), (3,), (16,), (39,), (41,), (20,), (1,), (17,), (15,), (4,), (40,), (12,), (24,), (12,), (23,), (29,), (19,), (7,), (35,), (16,), (31,), (9,), (46,), (21,), (33,), (20,), (16,), (15,), (13,), (21,), (14,), (17,), (38,), (14,), (24,), (18,), (18,), (15,), (59,), (14,), (23,), (10,), (10,), (6,), (34,), (47,), (16,), (6,), (15,), (25,), (4,), (3,), (26,), (4,), (4,), (5,), (4,), (49,), (13,), (6,), (27,), (13,), (42,), (29,), (74,), (7,), (15,), (19,), (47,), (15,), (32,), (34,), (36,), (73,), (49,), (26,), (6,), (25,), (46,), (32,), (41,), (37,), (34,), (40,), (10,), (79,), (63,), (27,), (31,), (70,), (29,), (55,), (30,), (13,), (4,), (3,), (26,), (33,), (19,), (43,), (46,), (9,), (34,), (12,), (50,), (24,), (11,), (7,), (33,), (8,), (41,), (43,), (18,), (28,), (10,), (19,), (5,), (28,), (27,), (30,), (29,), (8,), (33,), (16,), (11,), (14,), (43,), (8,), (55,), (65,), (45,), (82,), (15,), (25,), (11,), (32,), (33,), (73,), (10,), (12,), (30,), (12,), (31,), (11,), (20,), (63,), (8,), (9,), (7,), (55,), (48,), (17,), (19,), (15,), (4,), (13,), (2,), (5,), (20,), (29,), (20,), (6,), (27,), (2,), (34,), (15,), (18,), (9,), (2,), (17,), (20,), (16,), (12,), (14,), (23,), (11,), (10,), (10,), (4,), (9,), (18,), (19,), (5,), (3,), (21,), (43,), (12,), (3,), (10,), (6,), (37,), (4,), (22,), (8,), (16,), (49,), (29,), (12,), (2,), (3,), (8,), (3,), (12,), (35,), (4,), (20,), (48,), (13,), (8,), (12,), (6,), (10,), (2,), (2,), (66,), (71,), (35,), (8,), (10,), (16,), (18,), (8,), (20,), (3,), (4,), (12,), (24,), (92,), (61,), (66,), (7,), (21,), (19,), (27,), (66,), (24,), (57,), (11,), (7,), (44,), (14,), (14,), (24,), (45,), (28,), (26,), (14,), (13,), (38,), (37,), (18,), (15,), (45,), (25,), (6,), (22,), (36,), (94,), (10,), (41,), (14,), (3,), (3,), (22,), (4,), (14,), (1,), (13,), (12,), (28,), (7,), (16,), (40,), (6,), (25,), (25,), (22,), (24,), (6,), (9,), (12,), (12,), (16,), (5,), (18,), (44,), (11,), (5,), (28,), (11,), (36,), (17,), (16,), (47,), (39,), (18,), (5,), (3,), (23,), (8,), (5,), (14,), (38,), (9,), (5,), (17,), (8,), (2,), (0,), (31,), (24,), (38,), (31,), (61,), (5,), (41,), (21,), (19,), (24,), (20,), (8,), (37,), (39,), (30,), (31,), (15,), (5,), (10,), (22,), (10,), (21,), (14,), (22,), (3,), (7,), (1,), (4,), (9,), (5,), (4,), (66,), (20,), (38,), (30,), (49,), (50,), (10,), (80,), (33,), (26,), (104,), (42,), (20,), (22,), (7,), (26,), (7,), (12,), (46,), (15,), (38,), (53,), (28,), (35,), (28,), (4,), (14,), (38,), (30,), (19,), (25,), (31,), (26,), (40,), (34,), (5,), (48,), (18,), (29,), (63,), (11,), (24,), (70,), (8,), (21,), (31,), (7,), (37,), (5,), (8,), (6,), (17,), (16,), (25,), (5,), (17,), (53,), (7,), (19,), (21,), (12,), (20,), (10,), (27,), (9,), (12,), (29,), (14,), (14,), (9,), (6,), (19,), (7,), (136,), (6,), (17,), (22,), (20,), (13,), (19,), (29,), (10,), (8,), (19,), (24,), (14,), (18,), (15,), (25,), (6,), (10,), (2,), (6,), (7,), (21,), (13,), (3,), (7,), (39,), (10,), (7,), (32,), (6,), (8,), (4,), (14,), (12,), (9,), (8,), (10,), (29,), (11,), (51,), (8,), (5,), (4,), (3,), (7,), (21,), (7,), (7,), (5,), (3,), (41,), (4,), (2,), (2,), (8,), (8,), (5,), (17,), (7,), (20,), (4,), (5,), (3,), (3,), (30,), (17,), (15,), (15,), (5,), (1,), (5,), (35,), (12,), (1,), (6,), (3,), (14,), (14,), (22,), (30,), (35,), (15,), (15,), (23,), (25,), (24,), (16,), (20,), (5,), (27,), (3,), (20,), (1,), (10,), (7,), (6,), (2,), (3,), (5,), (8,), (23,), (6,), (2,), (2,), (0,), (26,), (49,), (57,), (23,), (78,), (33,), (27,), (38,), (20,), (18,), (7,), (53,), (11,), (8,), (8,), (2,), (26,), (12,), (6,), (4,), (6,), (12,), (15,), (8,), (11,), (5,), (6,), (7,), (35,), (39,), (22,), (41,), (57,), (16,), (11,), (20,), (17,), (13,), (35,), (27,), (23,), (26,), (9,), (81,), (17,), (17,), (5,), (10,), (30,), (10,), (12,), (13,), (3,), (21,), (9,), (39,), (6,), (35,), (4,), (14,), (14,), (0,), (0,), (8,), (25,), (7,), (13,), (13,), (16,), (6,), (48,), (9,), (12,), (4,), (29,), (18,), (2,), (12,), (14,), (15,), (8,), (27,), (20,), (10,), (5,), (63,), (17,), (1,), (34,), (26,), (4,), (10,), (5,), (8,), (33,), (2,), (13,), (4,), (21,), (68,), (81,), (52,), (9,), (25,), (8,), (18,), (21,), (20,), (19,), (12,), (49,), (13,), (21,), (43,), (16,), (28,), (40,), (22,), (23,), (95,), (4,), (2,), (47,), (53,), (7,), (15,), (42,), (10,), (15,), (29,), (19,), (11,), (22,), (9,), (29,), (14,), (6,), (41,), (20,), (13,), (2,), (11,), (11,), (8,), (18,), (6,), (17,), (25,), (20,), (20,), (26,), (26,), (14,), (36,), (7,), (30,), (16,), (27,), (17,), (25,), (7,), (14,), (23,), (12,), (3,), (30,), (56,), (19,), (18,), (55,), (5,), (28,), (16,), (17,), (4,), (11,), (12,), (15,), (9,), (4,), (12,), (62,), (16,), (17,), (93,), (17,), (27,), (7,), (0,), (14,), (11,), (20,), (43,), (8,), (23,), (64,), (9,), (4,), (13,), (6,), (10,), (32,), (9,), (5,), (5,), (10,), (3,), (15,), (16,), (15,), (6,), (19,), (35,), (9,), (35,), (7,), (3,), (5,), (14,), (17,), (17,), (15,), (19,), (2,), (17,), (2,), (29,), (11,), (7,), (30,), (9,), (12,), (12,), (15,), (5,), (6,), (9,), (6,), (0,), (45,), (1,), (8,), (2,), (29,), (1,), (4,), (8,), (12,), (27,), (26,), (13,), (9,), (7,), (7,), (37,), (2,), (3,), (13,), (15,), (10,), (12,), (60,), (0,), (6,), (14,), (3,), (5,), (44,), (8,), (10,), (0,), (11,), (9,), (2,), (20,), (3,), (12,), (12,), (10,), (6,), (3,), (27,), (4,), (13,), (14,), (0,), (0,), (7,), (33,), (28,), (20,), (7,), (45,), (28,), (11,), (25,), (45,), (20,), (78,), (76,), (13,), (2,), (1,), (27,), (18,), (10,), (1,), (28,), (118,), (3,), (7,), (57,), (17,), (21,), (4,), (11,), (2,), (0,), (5,), (5,), (30,), (26,), (15,), (1,), (44,), (16,), (36,), (85,), (20,), (29,), (25,), (15,), (32,), (9,), (33,), (14,), (6,), (26,), (36,), (16,), (14,), (50,), (31,), (9,), (36,), (12,), (11,), (12,), (89,), (34,), (17,), (18,), (11,), (14,), (19,), (4,), (10,), (18,), (35,), (13,), (8,), (7,), (52,), (11,), (6,), (9,), (4,), (5,), (53,), (14,), (13,), (11,), (7,), (13,), (16,), (14,), (9,), (3,), (1,), (12,), (3,), (3,), (24,), (17,), (10,), (31,), (1,), (9,), (1,), (32,), (8,), (13,), (17,), (2,), (10,), (10,), (7,), (6,), (1,), (8,), (0,), (18,), (10,), (9,), (12,), (22,), (33,), (3,), (7,), (28,), (23,), (28,), (42,), (7,), (21,), (2,), (25,), (67,), (20,), (27,), (70,), (23,), (14,), (30,), (3,), (7,), (23,), (36,), (14,), (12,), (24,), (35,), (10,), (14,), (9,), (5,), (32,), (3,), (10,), (4,), (2,), (3,), (18,), (3,), (33,), (5,), (7,), (17,), (1,), (19,), (2,), (0,), (36,), (1,), (9,), (25,), (9,), (8,), (2,), (6,), (20,), (4,), (24,), (20,), (18,), (10,), (12,), (55,), (35,), (18,), (7,), (14,), (9,), (29,), (15,), (41,), (21,), (1,), (4,), (90,), (6,), (7,), (11,), (15,), (10,), (38,), (8,), (32,), (6,), (9,), (9,), (32,), (3,), (7,), (36,), (3,), (9,), (44,), (19,), (0,), (2,), (2,), (8,), (5,), (29,), (8,), (2,), (13,), (4,), (38,), (9,), (18,), (2,), (20,), (7,), (43,), (14,), (20,), (2,), (1,), (0,), (6,), (18,), (17,), (29,), (2,), (12,), (20,), (58,), (45,), (80,), (54,), (17,), (3,), (17,), (4,), (145,), (12,), (3,), (21,), (47,), (22,), (27,), (19,), (58,), (2,), (16,), (43,), (4,), (9,), (19,), (13,), (11,), (30,), (31,), (21,), (7,), (19,), (23,), (49,), (11,), (61,), (7,), (6,), (41,), (12,), (42,), (19,), (10,), (11,), (44,), (10,), (49,), (7,), (5,), (34,), (7,), (3,), (2,), (13,), (13,), (3,), (19,), (30,), (9,), (15,), (19,), (11,), (3,), (17,), (8,), (4,), (7,), (18,), (7,), (9,), (35,), (45,), (4,), (47,), (11,), (24,), (26,), (8,), (1,), (0,), (11,), (2,), (16,), (20,), (8,), (9,), (2,), (3,), (6,), (0,), (17,), (3,), (3,), (41,), (10,), (49,), (11,), (6,), (9,), (8,), (7,), (7,), (0,), (7,), (25,), (5,), (13,), (7,), (13,), (21,), (0,), (12,), (8,), (32,), (8,), (31,), (12,), (12,), (30,), (1,), (11,), (5,), (5,), (15,), (2,), (0,), (32,), (17,), (6,), (8,), (6,), (7,), (9,), (22,), (2,), (19,), (1,), (7,), (1,), (12,), (2,), (6,), (49,), (4,), (0,), (5,), (0,), (52,), (29,), (41,), (10,), (4,), (37,), (7,), (59,), (16,), (45,), (15,), (4,), (25,), (22,), (13,), (6,), (27,), (12,), (4,), (13,), (4,), (23,), (1,), (3,), (5,), (6,), (11,), (7,), (14,), (20,), (6,), (7,), (2,), (7,), (3,), (1,), (4,), (11,), (11,), (4,), (7,), (13,), (11,), (5,), (6,), (4,), (3,), (0,), (8,), (0,), (9,), (1,), (5,), (4,), (8,), (4,), (7,), (24,), (44,), (16,), (9,), (16,), (7,), (32,), (4,), (32,), (17,), (29,), (18,), (0,), (6,), (91,), (105,), (9,), (17,), (10,), (25,), (9,), (43,), (11,), (54,), (13,), (12,), (60,), (73,), (7,), (2,), (4,), (6,), (4,), (16,), (24,), (37,), (95,), (27,), (2,), (17,), (6,), (24,), (6,), (1,), (66,), (9,), (6,), (4,), (1,), (11,), (10,), (5,), (35,), (10,), (4,), (17,), (1,), (26,), (1,), (12,), (43,), (1,), (3,), (2,), (10,), (30,), (4,), (34,), (6,), (1,), (19,), (6,), (13,), (6,), (35,), (7,), (13,), (11,), (5,), (8,), (4,), (15,), (34,), (22,), (0,), (2,), (7,), (26,), (6,), (28,), (9,), (0,), (47,), (50,), (60,), (11,), (15,), (6,), (10,), (22,), (41,), (23,), (19,), (21,), (45,), (12,), (40,), (26,), (64,), (3,), (14,), (6,), (49,), (21,), (20,), (8,), (11,), (4,), (11,), (15,), (18,), (8,), (74,), (18,), (15,), (8,), (6,), (29,), (6,), (5,), (16,), (64,), (4,), (29,), (7,), (1,), (16,), (47,), (1,), (0,), (10,), (14,), (6,), (19,), (26,), (3,), (74,), (21,), (16,), (32,), (13,), (5,), (8,), (4,), (7,), (4,), (1,), (2,), (10,), (8,), (3,), (27,), (1,), (9,), (9,), (32,), (2,), (27,), (12,), (3,), (4,), (5,), (5,), (3,), (2,), (9,), (2,), (11,), (1,), (2,), (1,), (11,), (4,), (0,), (5,), (5,), (25,), (0,), (11,), (53,), (0,), (20,), (2,), (4,), (0,), (45,), (126,), (56,), (12,), (14,), (21,), (31,), (11,), (19,), (31,), (3,), (7,), (7,), (38,), (33,), (15,), (23,), (31,), (14,), (7,), (3,), (7,), (3,), (4,), (39,), (29,), (4,), (2,), (7,), (7,), (16,), (21,), (6,), (33,), (9,), (33,), (3,), (4,), (4,

In [ ]:
# Multistring format
cur.execute('''
SELECT original_title
FROM movies
ORDER BY popularity DESC''')
top_three_movies= cur.fetchall()
print(f'Top three movies {top_three_movies[0:3]}')

Top three movies [('Minions',), ('Interstellar',), ('Deadpool',)]

In [ ]:
cur.execute('SELECT original_title FROM movies WHERE popularity IN (875, 724, 514)')
top_three_movies= cur.fetchall()
print(f'Top three movies {top_three_movies[0:3]}')

Top three movies [('Interstellar',), ('Minions',), ('Deadpool',)]

In [ ]:
# Right
cur.execute('SELECT original_title FROM movies ORDER BY popularity DESC LIMIT 3')
top_three_movies= cur.fetchall()
print(f'Top three movies {top_three_movies}')

Top three movies [('Minions',), ('Interstellar',), ('Deadpool',)]

In [ ]:
# To Explore ->
# JOIN
# ORDER BY
# GROUP BY
# SUBQUERY
# AGGREGATION

## Q7: Find the top 3 bankable(budget) movie

In [ ]:
movies_df.columns

Index(['id', 'original_title', 'budget', 'popularity', 'release_data',
       'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagling',
       'uid', 'director_id'],
      dtype='object')

In [ ]:
cur.execute('SELECT original_title FROM movies ORDER BY budget DESC LIMIT 3')
top_three_movies= cur.fetchall()
print(f'Top three movies {top_three_movies}')

Top three movies [('Pirates of the Caribbean: On Stranger Tides',), ("Pirates of the Caribbean: At World's End",), ('Avengers: Age of Ultron',)]

## Q8: Find out most awarder average rated movie since jan 1st, 2000

In [ ]:
movies_df.columns

Index(['id', 'original_title', 'budget', 'popularity', 'release_data',
       'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagling',
       'uid', 'director_id'],
      dtype='object')

In [ ]:
# To lookup on release_date
cur.execute('SELECT release_date FROM movies')
rel_date = cur.fetchall()
print(rel_date)

The most awarder average rated movie since jan 1st, 2000 is 2009-12-10

In [ ]:
# To lookup on vote_average
cur.execute('SELECT vote_average from movies')
avg_vote = cur.fetchall()
print(avg_vote)
# Higher to lower -> DESC(top)

[(7.2,), (6.9,), (6.3,), (7.6,), (6.1,), (5.9,), (7.4,), (7.3,), (7.4,), (5.7,), (5.4,), (6.1,), (7.0,), (5.9,), (6.5,), (6.3,), (7.4,), (6.4,), (6.2,), (7.1,), (6.5,), (6.2,), (7.6,), (5.8,), (6.6,), (7.5,), (7.1,), (5.5,), (6.5,), (6.9,), (6.7,), (6.8,), (6.4,), (6.3,), (7.0,), (6.0,), (5.8,), (5.7,), (6.5,), (6.3,), (5.8,), (5.1,), (7.6,), (5.9,), (7.3,), (6.7,), (7.5,), (7.4,), (5.5,), (7.3,), (6.2,), (6.7,), (6.1,), (5.7,), (6.6,), (6.7,), (6.6,), (7.8,), (6.1,), (5.6,), (6.6,), (5.2,), (5.5,), (6.7,), (6.4,), (8.2,), (7.7,), (6.0,), (7.4,), (7.0,), (5.1,), (5.2,), (5.9,), (5.3,), (7.6,), (5.9,), (5.6,), (8.0,), (6.7,), (6.6,), (5.8,), (7.0,), (7.3,), (4.8,), (5.9,), (7.6,), (6.0,), (6.2,), (7.8,), (7.1,), (6.4,), (4.9,), (7.5,), (5.9,), (7.9,), (8.1,), (8.1,), (6.5,), (7.0,), (6.6,), (7.3,), (7.1,), (6.6,), (5.8,), (5.5,), (6.5,), (6.0,), (6.3,), (5.8,), (6.2,), (6.6,), (6.6,), (5.6,), (7.4,), (7.5,), (6.2,), (6.9,), (6.7,), (7.5,), (7.5,), (6.2,), (5.9,), (6.2,), (6.4,), (7.3,), (6.7,), (6.8,), (7.2,), (6.5,), (6.6,), (6.3,), (5.1,), (5.5,), (5.7,), (7.1,), (5.5,), (5.7,), (6.7,), (4.7,), (6.5,), (6.4,), (5.5,), (6.0,), (5.9,), (6.7,), (6.9,), (6.4,), (5.8,), (5.3,), (6.4,), (6.0,), (5.5,), (6.7,), (6.8,), (7.1,), (5.9,), (7.3,), (5.6,), (7.4,), (6.8,), (7.6,), (5.3,), (4.9,), (7.0,), (6.3,), (5.3,), (5.4,), (5.7,), (5.9,), (6.6,), (6.0,), (6.9,), (6.1,), (5.8,), (6.1,), (6.0,), (7.3,), (6.1,), (6.6,), (6.5,), (7.3,), (6.9,), (7.0,), (7.4,), (6.8,), (6.2,), (6.3,), (6.4,), (6.2,), (5.6,), (6.7,), (7.7,), (6.3,), (5.0,), (6.2,), (6.1,), (6.7,), (7.5,), (5.4,), (7.5,), (6.6,), (6.5,), (6.3,), (6.8,), (7.1,), (7.0,), (5.6,), (7.1,), (6.4,), (6.0,), (4.2,), (6.2,), (6.2,), (5.9,), (6.2,), (5.4,), (7.2,), (5.2,), (5.9,), (5.2,), (6.3,), (5.4,), (6.4,), (6.3,), (5.7,), (5.7,), (4.9,), (5.9,), (6.4,), (7.1,), (6.4,), (7.5,), (6.3,), (6.3,), (6.8,), (5.0,), (5.8,), (6.0,), (5.8,), (7.3,), (5.7,), (5.8,), (4.4,), (6.3,), (6.0,), (6.0,), (6.8,), (6.4,), (6.5,), (6.2,), (7.0,), (4.9,), (5.5,), (6.1,), (5.5,), (5.7,), (5.9,), (6.6,), (5.5,), (4.1,), (6.6,), (6.4,), (8.0,), (5.7,), (6.7,), (4.9,), (6.7,), (6.6,), (5.8,), (6.7,), (7.6,), (6.5,), (3.7,), (6.1,), (7.9,), (7.1,), (7.4,), (7.3,), (5.6,), (7.7,), (6.5,), (7.4,), (6.8,), (6.2,), (5.4,), (6.1,), (5.6,), (7.8,), (6.8,), (7.2,), (6.1,), (6.4,), (4.9,), (6.4,), (6.4,), (6.0,), (5.5,), (7.3,), (7.9,), (5.2,), (6.7,), (6.6,), (6.5,), (4.2,), (5.6,), (7.2,), (5.3,), (6.1,), (5.5,), (3.6,), (6.5,), (4.4,), (6.4,), (6.5,), (7.1,), (6.0,), (7.1,), (7.1,), (5.9,), (5.4,), (7.2,), (5.6,), (7.3,), (5.4,), (7.0,), (6.2,), (6.7,), (6.6,), (7.6,), (8.1,), (8.0,), (5.2,), (5.7,), (5.9,), (5.7,), (7.0,), (6.3,), (5.2,), (5.8,), (7.4,), (5.7,), (6.0,), (6.9,), (7.3,), (6.3,), (6.4,), (6.3,), (6.5,), (6.5,), (7.0,), (5.6,), (7.9,), (7.6,), (6.5,), (7.2,), (6.9,), (7.0,), (5.3,), (6.7,), (5.8,), (6.7,), (5.5,), (5.6,), (6.8,), (5.2,), (7.2,), (5.6,), (6.2,), (5.9,), (5.5,), (6.7,), (5.9,), (6.8,), (5.7,), (6.5,), (6.9,), (5.2,), (5.9,), (6.1,), (6.6,), (7.3,), (5.4,), (6.7,), (6.1,), (7.5,), (5.9,), (7.2,), (6.2,), (7.2,), (5.6,), (6.8,), (6.6,), (6.3,), (5.1,), (5.8,), (6.7,), (6.7,), (6.2,), (6.5,), (6.1,), (6.9,), (7.2,), (6.4,), (6.1,), (7.3,), (6.1,), (6.7,), (6.9,), (5.5,), (7.3,), (5.5,), (7.2,), (5.4,), (4.7,), (5.4,), (6.6,), (6.0,), (6.7,), (4.9,), (5.9,), (6.5,), (7.3,), (5.7,), (6.4,), (6.0,), (6.7,), (6.9,), (6.2,), (6.6,), (6.3,), (7.1,), (5.8,), (5.9,), (6.4,), (6.2,), (5.4,), (5.8,), (6.0,), (6.3,), (7.8,), (5.3,), (6.0,), (6.8,), (5.9,), (7.3,), (6.3,), (6.5,), (6.3,), (6.7,), (6.6,), (5.3,), (5.2,), (6.5,), (5.6,), (5.2,), (6.5,), (7.4,), (5.6,), (5.2,), (7.4,), (5.3,), (5.0,), (6.2,), (8.0,), (6.7,), (7.0,), (5.8,), (5.9,), (6.1,), (5.9,), (6.8,), (5.2,), (5.6,), (6.1,), (6.4,), (6.7,), (5.9,), (6.9,), (5.8,), (5.2,), (3.0,), (5.6,), (5.1,), (5.4,), (6.1,), (5.2,), (5.7,), (5.4,), (6.0,), (7.3,), (4.8,), (5.2,), (5.3,), (7.7,), (8.0,), (5.8,), (6.4,), (6.7,), (6.5,), (4.1,), (6.2,), (7.6,), (5.7,), (3.9,), (5.9,), (5.7,), (7.0,), (6.7,), (6.2,), (6.6,), (7.4,), (6.8,), (6.4,), (6.9,), (6.5,), (6.6,), (6.5,), (4.7,), (4.3,), (7.3,), (6.0,), (7.0,), (5.7,), (5.9,), (6.5,), (5.8,), (6.6,), (5.4,), (6.9,), (6.4,), (5.7,), (7.1,), (5.8,), (6.3,), (6.2,), (5.9,), (6.4,), (5.7,), (6.2,), (6.3,), (5.0,), (6.1,), (5.8,), (4.3,), (5.7,), (6.9,), (6.4,), (5.9,), (5.8,), (5.8,), (5.9,), (5.4,), (5.7,), (6.5,), (6.2,), (4.9,), (7.7,), (6.6,), (6.9,), (6.6,), (4.5,), (6.9,), (6.2,), (5.4,), (6.4,), (6.7,), (6.6,), (5.7,), (5.8,), (5.8,), (6.4,), (7.9,), (6.6,), (6.6,), (5.8,), (6.5,), (5.3,), (5.5,), (5.4,), (6.7,), (6.2,), (6.3,), (5.5,), (7.6,), (6.0,), (7.0,), (5.8,), (7.1,), (5.8,), (6.2,), (6.0,), (7.1,), (7.0,), (5.2,), (5.4,), (5.0,), (5.2,), (6.1,), (6.0,), (5.9,), (6.1,), (3.4,), (4.3,), (5.5,), (5.9,), (5.9,), (5.1,), (5.7,), (4.6,), (6.7,), (4.4,), (5.9,), (5.8,), (6.7,), (7.1,), (5.4,), (6.2,), (6.9,), (5.7,), (5.4,), (7.3,), (6.3,), (6.5,), (5.5,), (5.5,), (6.0,), (6.6,), (5.0,), (7.9,), (6.1,), (6.1,), (7.1,), (5.3,), (6.7,), (7.9,), (7.3,), (5.5,), (7.1,), (6.3,), (6.5,), (6.3,), (6.2,), (7.3,), (6.3,), (6.1,), (5.7,), (6.0,), (5.9,), (6.5,), (5.9,), (7.1,), (6.0,), (6.7,), (5.9,), (5.7,), (6.4,), (6.1,), (5.6,), (6.0,), (6.5,), (6.0,), (6.1,), (8.3,), (6.7,), (5.4,), (4.9,), (5.0,), (6.7,), (4.8,), (6.3,), (5.3,), (6.7,), (7.1,), (5.9,), (6.1,), (7.6,), (6.5,), (6.4,), (5.9,), (5.3,), (6.1,), (6.5,), (4.3,), (5.8,), (7.6,), (5.9,), (5.5,), (7.0,), (6.1,), (6.9,), (8.2,), (5.6,), (5.6,), (7.9,), (7.3,), (6.6,), (6.1,), (7.8,), (6.8,), (5.6,), (6.6,), (5.0,), (6.6,), (5.9,), (6.0,), (5.3,), (5.9,), (5.7,), (6.4,), (5.8,), (6.5,), (6.6,), (6.8,), (6.7,), (7.0,), (5.3,), (6.2,), (6.3,), (5.6,), (6.7,), (6.2,), (4.3,), (7.3,), (4.9,), (7.3,), (4.5,), (5.6,), (5.5,), (6.5,), (6.1,), (6.7,), (6.1,), (5.9,), (5.9,), (5.8,), (5.3,), (5.6,), (5.9,), (6.4,), (5.8,), (5.9,), (6.9,), (6.6,), (6.3,), (7.5,), (5.3,), (6.0,), (6.2,), (4.6,), (7.0,), (6.7,), (5.7,), (5.1,), (5.8,), (5.6,), (6.1,), (5.8,), (6.6,), (6.2,), (5.8,), (5.7,), (5.9,), (6.0,), (6.6,), (6.3,), (7.4,), (5.1,), (4.7,), (5.4,), (6.6,), (6.5,), (6.1,), (5.7,), (6.3,), (7.0,), (4.9,), (6.0,), (6.2,), (5.0,), (5.3,), (5.7,), (6.0,), (4.7,), (5.4,), (4.1,), (6.7,), (6.0,), (6.8,), (7.4,), (4.9,), (7.4,), (6.2,), (6.5,), (4.4,), (5.7,), (5.7,), (4.9,), (5.1,), (6.1,), (5.8,), (5.9,), (7.2,), (5.5,), (6.4,), (6.0,), (4.7,), (5.5,), (5.8,), (6.0,), (8.2,), (5.5,), (6.6,), (6.7,), (6.9,), (5.4,), (6.4,), (5.4,), (6.0,), (7.6,), (5.9,), (6.0,), (7.1,), (5.6,), (7.0,), (7.7,), (6.1,), (5.9,), (6.4,), (7.7,), (6.0,), (7.6,), (6.1,), (6.3,), (6.2,), (5.8,), (5.7,), (6.3,), (5.7,), (6.2,), (5.9,), (6.7,), (6.4,), (7.0,), (5.3,), (6.0,), (6.2,), (5.1,), (5.4,), (6.4,), (7.3,), (5.3,), (5.7,), (7.0,), (6.6,), (5.4,), (6.1,), (5.2,), (5.7,), (6.2,), (4.2,), (6.9,), (7.1,), (7.3,), (5.3,), (6.2,), (7.5,), (5.2,), (7.1,), (6.1,), (5.4,), (6.5,), (3.5,), (5.7,), (5.5,), (7.4,), (7.4,), (5.4,), (6.3,), (6.7,), (7.2,), (6.8,), (5.9,), (5.4,), (7.7,), (6.7,), (5.6,), (6.4,), (5.7,), (5.1,), (7.2,), (5.9,), (6.9,), (7.8,), (6.1,), (5.1,), (6.1,), (5.3,), (5.1,), (5.6,), (7.3,), (6.5,), (6.6,), (6.7,), (6.3,), (7.2,), (7.0,), (6.0,), (5.6,), (6.6,), (7.1,), (6.3,), (7.0,), (7.2,), (6.4,), (6.2,), (6.9,), (5.8,), (5.6,), (7.3,), (6.7,), (5.0,), (6.5,), (5.9,), (5.5,), (5.4,), (7.0,), (5.2,), (5.2,), (7.0,), (6.3,), (6.8,), (5.5,), (7.7,), (6.0,), (6.2,), (5.1,), (6.0,), (5.7,), (6.3,), (5.9,), (6.3,), (7.0,), (7.3,), (5.6,), (6.4,), (6.0,), (7.5,), (6.3,), (6.1,), (6.1,), (6.8,), (5.8,), (5.5,), (6.2,), (7.2,), (5.8,), (6.1,), (6.1,), (6.1,), (4.5,), (4.4,), (6.3,), (5.9,), (6.2,), (6.3,), (4.4,), (5.0,), (5.8,), (6.0,), (6.0,), (6.0,), (5.9,), (6.0,), (6.2,), (6.1,), (6.0,), (5.6,), (7.6,), (7.1,), (6.6,), (7.3,), (5.4,), (6.3,), (7.2,), (5.8,), (6.2,), (5.2,), (5.8,), (5.9,), (5.8,), (5.5,), (6.5,), (6.0,), (5.2,), (5.6,), (5.6,), (5.9,), (4.7,), (5.0,), (5.4,), (5.3,), (3.9,), (5.7,), (6.2,), (7.2,), (6.9,), (7.6,), (6.5,), (6.6,), (6.5,), (6.5,), (4.3,), (6.6,), (6.1,), (6.0,), (7.1,), (6.0,), (5.6,), (6.6,), (6.9,), (6.1,), (6.5,), (5.7,), (6.6,), (5.9,), (6.6,), (6.5,), (7.2,), (7.7,), (4.6,), (5.7,), (6.3,), (5.5,), (6.8,), (7.0,), (4.4,), (6.2,), (6.4,), (6.6,), (6.5,), (5.0,), (6.1,), (5.8,), (6.1,), (5.8,), (6.0,), (6.3,), (6.4,), (7.0,), (6.3,), (5.6,), (7.9,), (7.3,), (6.9,), (5.4,), (6.5,), (6.5,), (7.3,), (5.9,), (4.7,), (5.8,), (7.0,), (6.8,), (6.6,), (5.5,), (5.9,), (6.2,), (5.6,), (6.6,), (4.3,), (6.1,), (6.6,), (6.4,), (6.1,), (5.9,), (6.2,), (6.1,), (6.0,), (5.5,), (6.5,), (7.1,), (6.7,), (6.2,), (5.4,), (4.7,), (5.5,), (5.3,), (6.5,), (6.1,), (4.7,), (5.8,), (7.1,), (6.7,), (6.0,), (6.3,), (6.6,), (5.0,), (6.3,), (6.4,), (4.0,), (6.0,), (2.3,), (7.1,), (7.2,), (5.5,), (7.3,), (6.3,), (5.5,), (6.9,), (6.4,), (6.4,), (5.6,), (7.0,), (6.0,), (6.6,), (5.3,), (6.6,), (6.8,), (6.3,), (6.7,), (7.0,), (6.5,), (5.8,), (5.4,), (6.5,), (6.7,), (6.0,), (6.1,), (6.5,), (6.1,), (5.4,), (5.9,), (5.6,), (5.7,), (4.0,), (7.0,), (7.2,), (5.3,), (6.1,), (6.3,), (6.8,), (6.8,), (5.3,), (6.6,), (5.3,), (7.7,), (6.2,), (5.6,), (6.9,), (6.8,), (6.7,), (6.2,), (7.4,), (6.3,), (5.2,), (4.7,), (7.0,), (6.0,), (7.4,), (6.7,), (7.0,), (7.1,), (6.2,), (5.3,), (5.7,), (7.1,), (5.9,), (7.1,), (6.6,), (6.8,), (7.0,), (5.4,), (6.7,), (7.1,), (6.1,), (7.1,), (7.2,), (7.2,), (6.2,), (6.5,), (5.7,), (7.5,), (5.4,), (5.8,), (6.1,), (6.2,), (5.4,), (7.2,), (6.0,), (5.9,), (5.9,), (6.2,), (5.0,), (7.3,), (7.0,), (6.5,), (8.0,), (6.1,), (5.7,), (7.3,), (6.2,), (6.0,), (5.8,), (6.4,), (6.5,), (6.4,), (6.5,), (6.0,), (6.8,), (6.7,), (5.8,), (6.8,), (5.8,), (4.9,), (5.4,), (5.7,), (6.2,), (6.5,), (5.4,), (6.1,), (6.1,), (6.7,), (5.3,), (5.0,), (5.9,), (5.3,), (7.0,), (5.9,), (5.5,), (5.8,), (5.4,), (6.9,), (6.1,), (6.3,), (5.6,), (6.7,), (4.9,), (5.0,), (4.6,), (5.2,), (6.4,), (6.4,), (5.4,), (7.2,), (5.9,), (6.5,), (6.9,), (5.7,), (5.9,), (4.7,), (6.0,), (4.9,), (6.5,), (5.7,), (4.8,), (7.0,), (4.2,), (7.5,), (5.7,), (5.7,), (7.8,), (5.5,), (5.6,), (6.6,), (5.9,), (3.2,), (5.5,), (5.9,), (6.3,), (5.2,), (4.2,), (6.5,), (6.1,), (5.0,), (4.8,), (7.0,), (6.0,), (5.4,), (5.5,), (5.1,), (6.6,), (6.2,), (6.6,), (7.1,), (6.3,), (4.3,), (6.7,), (6.5,), (5.9,), (7.3,), (7.5,), (6.7,), (5.8,), (6.6,), (7.4,), (4.5,), (5.3,), (6.0,), (7.1,), (6.0,), (6.4,), (5.5,), (5.3,), (6.4,), (6.3,), (6.7,), (6.8,), (7.2,), (6.2,), (5.7,), (5.0,), (5.6,), (5.5,), (6.3,), (5.7,), (6.0,), (6.9,), (6.3,), (7.8,), (6.2,), (5.8,), (5.4,), (6.2,), (7.0,), (4.3,), (7.1,), (5.6,), (7.3,), (7.0,), (5.8,), (6.5,), (5.6,), (7.7,), (7.5,), (5.3,), (5.9,), (6.7,), (5.8,), (7.0,), (6.1,), (6.8,), (5.3,), (6.6,), (5.8,), (6.0,), (6.7,), (5.4,), (5.8,), (5.2,), (6.2,), (6.3,), (5.8,), (7.5,), (4.6,), (5.2,), (5.3,), (7.2,), (6.5,), (6.2,), (7.0,), (5.9,), (6.4,), (7.2,), (5.5,), (6.5,), (7.2,), (7.0,), (6.2,), (5.6,), (7.0,), (6.5,), (5.9,), (5.5,), (7.0,), (7.7,), (5.8,), (6.3,), (5.5,), (7.2,), (6.0,), (6.3,), (6.8,), (6.0,), (6.8,), (6.5,), (5.6,), (7.3,), (7.2,), (5.6,), (5.2,), (6.2,), (5.2,), (5.2,), (5.8,), (7.4,), (6.4,), (7.0,), (6.0,), (5.2,), (6.7,), (5.7,), (5.9,), (5.1,), (6.9,), (4.1,), (8.0,), (6.4,), (5.5,), (6.7,), (6.0,), (6.0,), (5.4,), (5.9,), (5.9,), (6.3,), (6.1,), (5.8,), (5.1,), (6.3,), (5.6,), (6.0,), (6.1,), (5.5,), (5.9,), (7.0,), (5.6,), (5.2,), (6.9,), (4.9,), (5.7,), (5.1,), (6.2,), (5.4,), (6.5,), (5.7,), (6.0,), (4.6,), (5.3,), (5.8,), (6.0,), (5.7,), (6.6,), (6.4,), (5.7,), (7.0,), (5.3,), (6.5,), (4.7,), (5.5,), (4.8,), (5.6,), (4.9,), (6.9,), (4.7,), (6.5,), (6.6,), (7.7,), (6.6,), (6.2,), (7.4,), (6.7,), (6.6,), (7.0,), (5.8,), (0.0,), (7.0,), (5.0,), (7.0,), (6.8,), (5.3,), (5.1,), (7.5,), (7.3,), (5.4,), (5.3,), (5.4,), (6.5,), (7.1,), (7.1,), (5.3,), (5.6,), (6.3,), (4.8,), (6.7,), (5.1,), (4.9,), (6.1,), (6.6,), (6.3,), (5.7,), (7.9,), (5.8,), (7.2,), (5.3,), (6.4,), (6.2,), (5.3,), (6.7,), (5.6,), (6.5,), (6.3,), (6.0,), (7.0,), (6.0,), (5.7,), (5.3,), (7.1,), (6.7,), (6.3,), (6.7,), (5.6,), (6.3,), (6.9,), (6.2,), (6.3,), (5.6,), (6.6,), (6.2,), (4.0,), (5.4,), (5.3,), (7.1,), (7.2,), (5.9,), (5.0,), (8.0,), (6.0,), (6.9,), (5.7,), (7.0,), (6.5,), (5.9,), (8.0,), (6.4,), (6.2,), (7.0,), (6.2,), (6.4,), (6.9,), (6.1,), (6.0,), (7.7,), (6.8,), (7.0,), (6.0,), (7.4,), (7.2,), (7.2,), (6.2,), (6.7,), (6.1,), (6.5,), (6.5,), (8.1,), (7.3,), (6.7,), (7.6,), (7.7,), (6.4,), (7.7,), (6.1,), (6.0,), (6.0,), (5.9,), (7.2,), (6.7,), (6.7,), (6.4,), (6.6,), (4.9,), (6.0,), (5.8,), (6.4,), (6.7,), (5.8,), (5.8,), (5.9,), (5.3,), (6.3,), (7.4,), (5.5,), (7.4,), (5.8,), (5.6,), (5.7,), (6.3,), (6.0,), (6.8,), (6.9,), (5.1,), (7.4,), (6.6,), (6.2,), (4.9,), (7.2,), (7.2,), (7.2,), (7.3,), (6.2,), (7.4,), (6.9,), (6.6,), (5.6,), (7.1,), (6.2,), (6.5,), (3.7,), (7.2,), (6.4,), (6.6,), (6.5,), (3.8,), (5.7,), (5.8,), (6.6,), (6.5,), (5.1,), (6.6,), (6.4,), (5.9,), (6.8,), (4.1,), (6.3,), (6.4,), (6.2,), (5.4,), (4.8,), (5.9,), (5.8,), (5.2,), (5.7,), (5.0,), (6.9,), (4.8,), (6.0,), (6.0,), (5.2,), (5.4,), (6.6,), (5.7,), (6.8,), (5.5,), (5.5,), (5.1,), (6.3,), (5.1,), (5.0,), (6.7,), (6.0,), (6.4,), (4.0,), (5.4,), (2.9,), (5.7,), (4.7,), (6.1,), (4.8,), (6.7,), (6.3,), (7.2,), (5.5,), (5.8,), (7.4,), (8.2,), (5.9,), (6.7,), (6.0,), (5.4,), (6.3,), (5.0,), (5.0,), (7.0,), (5.0,), (5.9,), (5.4,), (6.4,), (5.5,), (7.0,), (3.0,), (5.8,), (6.4,), (6.6,), (5.6,), (6.8,), (7.3,), (5.9,), (5.8,), (7.2,), (6.6,), (5.0,), (5.5,), (6.9,), (6.3,), (4.9,), (6.8,), (7.4,), (7.7,), (7.1,), (5.7,), (6.1,), (6.6,), (6.2,), (7.5,), (6.4,), (7.3,), (6.2,), (7.0,), (6.8,), (5.5,), (6.5,), (7.4,), (7.1,), (6.4,), (6.3,), (6.6,), (5.5,), (6.1,), (6.9,), (6.4,), (6.1,), (7.1,), (5.6,), (4.6,), (6.1,), (7.7,), (7.9,), (6.5,), (6.0,), (6.5,), (4.5,), (7.0,), (5.8,), (6.0,), (5.5,), (5.5,), (4.8,), (5.8,), (5.5,), (6.8,), (6.2,), (6.3,), (5.6,), (5.7,), (6.2,), (6.2,), (7.1,), (5.7,), (6.9,), (6.9,), (6.2,), (6.7,), (5.6,), (6.2,), (7.5,), (6.0,), (6.7,), (6.6,), (5.5,), (7.4,), (7.3,), (6.3,), (7.0,), (7.2,), (6.7,), (6.7,), (5.9,), (6.1,), (5.5,), (6.8,), (4.4,), (6.5,), (5.9,), (5.9,), (6.3,), (5.2,), (5.9,), (6.9,), (5.2,), (6.0,), (6.2,), (6.8,), (6.2,), (5.8,), (6.6,), (6.8,), (7.0,), (6.3,), (6.9,), (6.2,), (5.9,), (7.3,), (5.2,), (6.1,), (5.9,), (4.9,), (7.1,), (6.8,), (5.2,), (5.7,), (5.8,), (6.1,), (4.8,), (4.5,), (5.5,), (6.0,), (6.5,), (3.9,), (5.3,), (6.3,), (6.8,), (6.9,), (7.0,), (7.6,), (7.8,), (6.1,), (7.2,), (7.2,), (6.1,), (8.3,), (7.8,), (5.7,), (5.4,), (4.9,), (5.8,), (4.7,), (5.6,), (6.4,), (5.8,), (7.6,), (7.7,), (6.1,), (6.5,), (6.8,), (5.1,), (5.7,), (6.1,), (7.4,), (6.0,), (7.2,), (5.8,), (6.8,), (7.0,), (7.2,), (7.0,), (6.4,), (6.1,), (6.7,), (8.2,), (5.0,), (6.4,), (8.0,), (6.3,), (7.4,), (6.1,), (5.9,), (7.9,), (5.8,), (5.6,), (5.5,), (6.3,), (6.4,), (5.6,), (5.4,), (6.6,), (6.4,), (5.8,), (5.5,), (5.5,), (5.8,), (7.0,), (6.4,), (6.1,), (4.9,), (6.0,), (7.1,), (7.1,), (5.5,), (6.9,), (4.7,), (5.4,), (4.7,), (8.5,), (4.7,), (6.7,), (5.7,), (6.9,), (5.9,), (6.5,), (7.2,), (6.7,), (6.2,), (6.6,), (6.2,), (5.4,), (6.0,), (6.9,), (6.5,), (4.6,), (5.4,), (4.7,), (5.0,), (6.9,), (5.4,), (5.6,), (4.3,), (5.2,), (6.3,), (5.2,), (4.4,), (6.7,), (6.3,), (4.9,), (7.0,), (6.5,), (6.2,), (6.2,), (7.0,), (6.0,), (7.1,), (5.6,), (7.7,), (6.7,), (6.6,), (6.1,), (4.6,), (6.2,), (5.8,), (5.3,), (5.5,), (6.4,), (5.7,), (6.8,), (5.0,), (5.5,), (4.8,), (7.3,), (5.5,), (5.1,), (6.4,), (3.5,), (7.0,), (5.9,), (6.1,), (6.2,), (6.6,), (7.7,), (6.0,), (5.6,), (7.1,), (6.0,), (3.8,), (6.3,), (5.0,), (6.2,), (7.0,), (6.5,), (4.1,), (7.0,), (5.5,), (6.9,), (6.5,), (6.1,), (5.4,), (6.4,), (6.2,), (6.4,), (6.6,), (7.2,), (5.1,), (6.1,), (6.1,), (5.9,), (5.9,), (5.5,), (7.6,), (5.5,), (5.8,), (5.9,), (4.7,), (5.7,), (5.0,), (5.3,), (6.5,), (4.1,), (6.8,), (5.4,), (6.1,), (8.2,), (7.2,), (5.9,), (8.2,), (6.5,), (6.6,), (6.4,), (6.5,), (6.7,), (6.0,), (7.9,), (6.3,), (5.1,), (5.9,), (6.4,), (5.6,), (3.5,), (6.6,), (6.5,), (6.6,), (6.1,), (6.6,), (6.6,), (5.8,), (5.9,), (5.5,), (6.5,), (6.5,), (6.7,), (6.8,), (6.9,), (6.5,), (6.3,), (6.5,), (6.0,), (7.3,), (4.6,), (7.4,), (7.3,), (5.6,), (7.2,), (5.9,), (6.6,), (6.1,), (6.0,), (6.8,), (4.7,), (6.2,), (6.0,), (5.4,), (6.0,), (6.3,), (6.4,), (5.4,), (5.7,), (5.3,), (6.4,), (6.1,), (6.2,), (4.2,), (3.6,), (4.9,), (3.8,), (5.2,), (5.9,), (7.2,), (7.2,), (5.5,), (5.9,), (6.2,), (7.4,), (5.2,), (6.7,), (6.5,), (6.5,), (6.3,), (7.0,), (6.0,), (5.6,), (5.5,), (7.1,), (6.9,), (5.1,), (6.3,), (6.9,), (7.5,), (7.0,), (6.6,), (6.4,), (5.1,), (6.7,), (5.8,), (6.5,), (6.6,), (5.5,), (6.3,), (5.9,), (6.7,), (7.7,), (6.3,), (7.2,), (5.0,), (6.1,), (5.4,), (8.1,), (6.5,), (6.4,), (5.9,), (4.9,), (7.4,), (5.2,), (5.0,), (6.7,), (5.4,), (6.3,), (6.7,), (6.7,), (6.9,), (7.9,), (6.2,), (6.1,), (7.5,), (7.6,), (5.9,), (7.4,), (6.3,), (3.6,), (6.1,), (7.4,), (5.6,), (4.6,), (5.8,), (6.3,), (6.7,), (6.8,), (3.2,), (7.8,), (5.9,), (5.2,), (6.0,), (5.9,), (5.8,), (6.1,), (5.8,), (7.0,), (4.2,), (6.9,), (6.5,), (7.0,), (6.6,), (5.3,), (6.4,), (4.6,), (6.2,), (7.1,), (5.7,), (5.3,), (6.0,), (6.3,), (5.4,), (6.3,), (7.0,), (4.7,), (5.8,), (6.6,), (7.9,), (6.0,), (6.3,), (6.7,), (5.8,), (6.0,), (5.9,), (6.0,), (5.3,), (6.5,), (5.3,), (5.2,), (6.3,), (5.1,), (6.7,), (7.1,), (6.3,), (5.8,), (8.2,), (5.4,), (6.7,), (5.6,), (4.9,), (6.8,), (6.5,), (7.1,), (7.8,), (5.6,), (5.0,), (6.9,), (6.4,), (6.3,), (7.2,), (4.3,), (7.3,), (7.2,), (5.8,), (5.3,), (5.0,), (7.0,), (6.5,), (6.2,), (3.0,), (5.5,), (6.5,), (6.2,), (5.8,), (4.8,), (5.9,), (7.0,), (6.1,), (6.4,), (6.0,), (6.1,), (6.4,), (5.7,), (6.7,), (4.5,), (6.2,), (6.4,), (5.6,), (7.3,), (5.4,), (6.3,), (5.6,), (6.5,), (6.5,), (6.5,), (1.9,), (5.4,), (4.7,), (6.4,), (6.5,), (6.5,), (3.2,), (5.9,), (4.1,), (5.3,), (5.8,), (4.7,), (6.7,), (7.0,), (6.2,), (6.8,), (7.0,), (3.1,), (5.4,), (5.9,), (6.5,), (6.3,), (6.3,), (6.6,), (4.8,), (6.8,), (7.4,), (8.2,), (5.7,), (4.9,), (7.1,), (6.8,), (3.3,), (6.9,), (6.5,), (6.0,), (2.2,), (5.4,), (6.4,), (5.8,), (5.9,), (6.2,), (6.1,), (5.8,), (4.5,), (5.5,), (6.0,), (5.3,), (6.6,), (6.3,), (5.3,), (5.0,), (0.5,), (6.1,), (5.4,), (6.1,), (7.1,), (7.1,), (7.6,), (5.4,), (6.7,), (6.1,), (7.0,), (5.4,), (8.1,), (8.0,), (5.5,), (6.0,), (3.9,), (5.9,), (5.3,), (6.5,), (4.6,), (6.2,), (8.3,), (5.9,), (6.5,), (7.4,), (6.0,), (6.4,), (6.0,), (6.2,), (5.8,), (5.6,), (6.1,), (6.8,), (6.0,), (7.3,), (6.0,), (5.8,), (7.2,), (6.0,), (6.2,), (6.6,), (6.9,), (6.5,), (6.1,), (6.4,), (6.3,), (5.5,), (3.7,), (6.2,), (5.6,), (6.5,), (6.5,), (5.5,), (6.3,), (7.3,), (7.8,), (4.8,), (6.9,), (6.4,), (6.8,), (5.9,), (7.4,), (7.0,), (6.9,), (6.0,), (4.9,), (6.4,), (6.9,), (6.7,), (5.6,), (5.8,), (7.7,), (5.6,), (6.7,), (5.5,), (7.0,), (6.4,), (6.8,), (5.4,), (4.9,), (7.2,), (6.8,), (5.1,), (5.9,), (3.7,), (6.2,), (7.3,), (4.9,), (6.9,), (5.7,), (5.6,), (6.4,), (5.8,), (6.5,), (6.7,), (7.3,), (6.7,), (6.5,), (6.9,), (3.5,), (7.3,), (6.8,), (6.2,), (6.2,), (6.7,), (7.2,), (5.3,), (5.9,), (7.0,), (6.7,), (4.4,), (6.7,), (5.6,), (9.3,), (6.9,), (4.5,), (6.7,), (5.0,), (6.0,), (7.0,), (6.4,), (5.7,), (6.5,), (5.9,), (7.5,), (5.9,), (5.8,), (4.6,), (5.4,), (7.4,), (7.7,), (7.4,), (5.6,), (6.4,), (6.9,), (5.8,), (7.4,), (4.7,), (6.7,), (6.4,), (5.8,), (5.2,), (5.9,), (6.0,), (6.1,), (5.1,), (7.4,), (5.6,), (6.0,), (7.3,), (4.8,), (6.9,), (4.6,), (3.3,), (6.3,), (6.2,), (6.3,), (6.4,), (5.6,), (4.9,), (4.1,), (3.0,), (7.0,), (5.5,), (2.9,), (7.1,), (5.6,), (6.8,), (6.1,), (5.2,), (6.5,), (5.0,), (4.5,), (7.0,), (5.8,), (7.0,), (7.2,), (6.9,), (6.0,), (7.0,), (8.1,), (6.5,), (7.3,), (7.4,), (5.9,), (6.0,), (7.3,), (4.8,), (7.6,), (5.9,), (6.4,), (3.7,), (7.6,), (4.8,), (7.4,), (5.3,), (5.5,), (5.3,), (7.4,), (4.6,), (6.7,), (6.4,), (5.4,), (7.2,), (5.3,), (5.4,), (7.0,), (6.9,), (5.7,), (5.3,), (7.6,), (6.8,), (4.6,), (5.1,), (5.5,), (6.4,), (6.7,), (6.8,), (6.7,), (4.3,), (6.2,), (6.9,), (6.5,), (4.7,), (6.8,), (6.3,), (7.2,),

In [ ]:
# 2 Columns needed -> release_date, vote_average
cur.execute("""
SELECT original_title
FROM movies
WHERE release_date>2000-01-01
ORDER BY vote_average DESC
LIMIT 1
""")
most_awarded = cur.fetchall()
print(f'The most awarder average rated movie since jan 1st, 2000 is {most_awarded[0][0]}')

The most awarder average rated movie since jan 1st, 2000 is Stiff Upper Lips

## Q9: Find all the movies that has been directed by Brenda Chapman

-> KEY?

In [ ]:
movies_df.columns

Index(['id', 'original_title', 'budget', 'popularity', 'release_data',
       'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagling',
       'uid', 'director_id'],
      dtype='object')

In [ ]:
directors_df.columns

Index(['name', 'director_id', 'gender', 'uid', 'department'], dtype='object')

In [ ]:
cur.execute("""
SELECT original_title
FROM movies
LEFT JOIN directors
ON movies.director_id = directors.id
WHERE directors.name = 'Brenda Chapman'
""")
by_brenda_chapman = cur.fetchall()
print(f'By Brenda Chapman: {by_brenda_chapman}')

By Brenda Chapman: [('Brave',)]

## Q10: Find out the director who has made the most movies

In [ ]:
movies_df.columns

Index(['id', 'original_title', 'budget', 'popularity', 'release_data',
       'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagling',
       'uid', 'director_id'],
      dtype='object')

In [ ]:
directors_df.columns

Index(['name', 'director_id', 'gender', 'uid', 'department'], dtype='object')

In [ ]:
# JOIN, ORDER BY, GROUP BY
cur.execute("""
SELECT name
FROM directors
JOIN movies
ON directors.id = movies.director_id
GROUP BY director_id
ORDER BY
COUNT(name) DESC
LIMIT 1
""")
mostMovie_director = cur.fetchall()
print(f'Most movie directors: {mostMovie_director}')

Most movie directors: [('Steven Spielberg',)]

## Q11: Find out the directors who is most bankable

In [ ]:
movies_df.columns

Index(['id', 'original_title', 'budget', 'popularity', 'release_data',
       'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagling',
       'uid', 'director_id'],
      dtype='object')

In [ ]:
directors_df.columns

Index(['name', 'director_id', 'gender', 'uid', 'department'], dtype='object')

In [88]:
# JOIN, ORDER BY, GROUP BY
cur.execute("""
SELECT name
FROM directors
JOIN movies ON directors.id = movies.director_id
GROUP BY directors.id
ORDER BY SUM(movies.budget) DESC
LIMIT 1
""")
most_bankable_director = cur.fetchall()
print(f"Most movie director: {most_bankable_director}")

OperationalError: ignored

## Q12: Find out the top 10 highest budget making movie

In [ ]:
cur.execute("""
SELECT original_title
FROM movies
ORDER BY budget DESC
LIMIT 10
""")
top10 = cur.fetchall()
print(f'Top 10: {top10}')

Top 10: [('Pirates of the Caribbean: On Stranger Tides',), ("Pirates of the Caribbean: At World's End",), ('Avengers: Age of Ultron',), ('Superman Returns',), ('John Carter',), ('Tangled',), ('Spider-Man 3',), ('The Lone Ranger',), ('The Dark Knight Rises',), ('Harry Potter and the Half-Blood Prince',)]

In [ ]:
# COLAB SPACES
!df -h

Filesystem      Size  Used Avail Use% Mounted on
overlay         108G   25G   84G  23% /
tmpfs            64M     0   64M   0% /dev
shm             5.8G     0  5.8G   0% /dev/shm
/dev/root       2.0G 1005M  952M  52% /usr/sbin/docker-init
tmpfs           6.4G   33M  6.4G   1% /var/colab
/dev/sda1        41G   26G   15G  64% /etc/hosts
tmpfs           6.4G     0  6.4G   0% /proc/acpi
tmpfs           6.4G     0  6.4G   0% /proc/scsi
tmpfs           6.4G     0  6.4G   0% /sys/firmware
drive            15G  148M   15G   1% /content/drive

## Q13: Find the top 10 revenue making movies

In [ ]:
cur.execute("""
SELECT original_title
FROM movies
ORDER BY revenue DESC
LIMIT 10""")
top10 = cur.fetchall()
print(f'Top 10 : {top10}')

Top 10 : [('Avatar',), ('Titanic',), ('The Avengers',), ('Jurassic World',), ('Furious 7',), ('Avengers: Age of Ultron',), ('Frozen',), ('Iron Man 3',), ('Minions',), ('Captain America: Civil War',)]

## Q14: Find the top 10 popular movies with highest rating(vote_average)

In [ ]:
movies_df.columns

Index(['id', 'original_title', 'budget', 'popularity', 'release_data',
       'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagling',
       'uid', 'director_id'],
      dtype='object')

In [ ]:
query = cur.execute("""
SELECT original_title
FROM movies
ORDER BY popularity, vote_average DESC
LIMIT 10
""")
top10 = cur.fetchall()
print(f'Top 10 : {top10}')

Top 10 : [('Stiff Upper Lips',), ('Dancer, Texas Pop. 81',), ('Sardaarji',), ("One Man's Hero",), ('There Goes My Baby',), ('Counting',), ('Déjà Vu',), ('Dolphins and Whales: Tribes of the Ocean',), ('Lake of Fire',), ('Dreaming of Joseph Lees',)]

## Q15: Find out the top 10 directors with the number of movies and revenue where revenue should be taken into account for doing the new analysis

-> O/p: The directors who has got the hisgest revenue should comes at the top and so on and so forth.

* JOIN, ORDER BY

In [ ]:
movies_df.columns

Index(['id', 'original_title', 'budget', 'popularity', 'release_data',
       'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagling',
       'uid', 'director_id'],
      dtype='object')

In [ ]:
directors_df.columns

Index(['name', 'director_id', 'gender', 'uid', 'department'], dtype='object')

In [95]:
query = cur.execute("""
SELECT name
FROM directors
JOIN movies
ON directors.id = movies.director_id
GROUP BY directors.id
ORDER BY MAX(revenue) DESC
LIMIT 10
""")
top10 = cur.fetchall()
print(f'Top 10 : {top10}')

'''
SELECT directors.name, COUNT(movies.id) AS num_movies, MAX(movies.revenue) AS max_revenue
FROM directors
JOIN movies ON directors.id = movies.director_id
GROUP BY directors.id
ORDER BY MAX(movies.revenue) DESC
LIMIT 10
'''

Top 10 : [('James Cameron',), ('Joss Whedon',), ('Colin Trevorrow',), ('James Wan',), ('Chris Buck',), ('Shane Black',), ('Kyle Balda',), ('Anthony Russo',), ('Michael Bay',), ('Peter Jackson',)]

## Q16: Find out the top 10 directors with the number of movies should be taken into account for doing the new analysis

In [93]:
movies_df.columns

Index(['id', 'original_title', 'budget', 'popularity', 'release_data',
       'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagling',
       'uid', 'director_id'],
      dtype='object')

In [94]:
directors_df.columns

Index(['name', 'director_id', 'gender', 'uid', 'department'], dtype='object')

In [97]:
cur.execute("""
SELECT directors.name, COUNT(movies.title) AS num_movies
FROM directors
JOIN movies ON directors.id = movies.director_id
GROUP BY directors.id
ORDER BY COUNT(movies.title) DESC
L
""")
top10 = cur.fetchall()
print(f'Top 10 : {top10}')

Top 10 : [('Steven Spielberg', 27), ('Woody Allen', 21), ('Clint Eastwood', 20), ('Martin Scorsese', 20), ('Spike Lee', 16), ('Robert Rodriguez', 16), ('Ridley Scott', 16), ('Renny Harlin', 15), ('Steven Soderbergh', 15), ('Oliver Stone', 14)]

## Q17: Give the title, release date, budget, revenue, popularity, vote average and those movies made by Steven Spielberg

In [103]:
cur.execute("""
SELECT title, release_date, budget, revenue, popularity, vote_average
FROM directors
JOIN movies ON directors.id = movies.director_id
WHERE directors.name = 'Steven Spielberg'
""")
top10 = cur.fetchall()
print(f'Top 10 : {top10}')

Top 10 : [('Indiana Jones and the Kingdom of the Crystal Skull', '2008-05-21', 185000000, 786636033, 75, 5.7), ('The BFG', '2016-06-01', 140000000, 183345589, 44, 6.0), ('War of the Worlds', '2005-06-28', 132000000, 591739379, 48, 6.2), ('The Adventures of Tintin', '2011-10-25', 130000000, 371940071, 89, 6.7), ('Minority Report', '2002-06-20', 102000000, 358372926, 65, 7.1), ('A.I. Artificial Intelligence', '2001-06-29', 100000000, 235926552, 34, 6.8), ('The Lost World: Jurassic Park', '1997-05-23', 73000000, 229074524, 2, 6.2), ('The Terminal', '2004-06-17', 60000000, 219417255, 57, 7.0), ('Munich', '2005-12-22', 70000000, 130358911, 29, 6.9), ('Hook', '1991-12-11', 70000000, 300854823, 33, 6.6), ('War Horse', '2011-12-25', 66000000, 177584879, 29, 7.0), ('Saving Private Ryan', '1998-07-24', 70000000, 481840909, 76, 7.9), ('Lincoln', '2012-11-09', 65000000, 275293450, 36, 6.7), ('Jurassic Park', '1993-06-11', 63000000, 920100000, 40, 7.6), ('Catch Me If You Can', '2002-12-25', 52000000, 352114312, 73, 7.7), ('Indiana Jones and the Last Crusade', '1989-05-24', 48000000, 474171806, 80, 7.6), ('Bridge of Spies', '2015-10-15', 40000000, 165478348, 48, 7.2), ('Amistad', '1997-12-03', 36000000, 74000000, 3, 6.8), ('1941', '1979-12-13', 35000000, 31755742, 10, 5.6), ('Indiana Jones and the Temple of Doom', '1984-05-23', 28000000, 333000000, 66, 7.1), ("Schindler's List", '1993-11-29', 22000000, 321365567, 104, 8.3), ('Raiders of the Lost Ark', '1981-06-12', 18000000, 389925971, 68, 7.7), ('Close Encounters of the Third Kind', '1977-11-16', 20000000, 303788635, 52, 7.2), ('The Color Purple', '1985-12-18', 15000000, 146292009, 17, 7.7), ('Jaws', '1975-06-18', 7000000, 470654000, 50, 7.5), ('E.T. the Extra-Terrestrial', '1982-04-03', 10500000, 792910554, 56, 7.3), ('Twilight Zone: The Movie', '1983-06-24', 10000000, 29450919, 12, 6.2)]

In [102]:
# OR
cur.execute("""
SELECT movies.title, movies.release_date, movies.budget, movies.revenue, movies.popularity, movies.vote_average, directors.name
FROM directors
JOIN movies ON directors.id = movies.director_id
WHERE directors.name = 'Steven Spielberg'
""")
top10 = cur.fetchall()
print(f'Top 10 : {top10}')

Top 10 : [('Indiana Jones and the Kingdom of the Crystal Skull', '2008-05-21', 185000000, 786636033, 75, 5.7, 'Steven Spielberg'), ('The BFG', '2016-06-01', 140000000, 183345589, 44, 6.0, 'Steven Spielberg'), ('War of the Worlds', '2005-06-28', 132000000, 591739379, 48, 6.2, 'Steven Spielberg'), ('The Adventures of Tintin', '2011-10-25', 130000000, 371940071, 89, 6.7, 'Steven Spielberg'), ('Minority Report', '2002-06-20', 102000000, 358372926, 65, 7.1, 'Steven Spielberg'), ('A.I. Artificial Intelligence', '2001-06-29', 100000000, 235926552, 34, 6.8, 'Steven Spielberg'), ('The Lost World: Jurassic Park', '1997-05-23', 73000000, 229074524, 2, 6.2, 'Steven Spielberg'), ('The Terminal', '2004-06-17', 60000000, 219417255, 57, 7.0, 'Steven Spielberg'), ('Munich', '2005-12-22', 70000000, 130358911, 29, 6.9, 'Steven Spielberg'), ('Hook', '1991-12-11', 70000000, 300854823, 33, 6.6, 'Steven Spielberg'), ('War Horse', '2011-12-25', 66000000, 177584879, 29, 7.0, 'Steven Spielberg'), ('Saving Private Ryan', '1998-07-24', 70000000, 481840909, 76, 7.9, 'Steven Spielberg'), ('Lincoln', '2012-11-09', 65000000, 275293450, 36, 6.7, 'Steven Spielberg'), ('Jurassic Park', '1993-06-11', 63000000, 920100000, 40, 7.6, 'Steven Spielberg'), ('Catch Me If You Can', '2002-12-25', 52000000, 352114312, 73, 7.7, 'Steven Spielberg'), ('Indiana Jones and the Last Crusade', '1989-05-24', 48000000, 474171806, 80, 7.6, 'Steven Spielberg'), ('Bridge of Spies', '2015-10-15', 40000000, 165478348, 48, 7.2, 'Steven Spielberg'), ('Amistad', '1997-12-03', 36000000, 74000000, 3, 6.8, 'Steven Spielberg'), ('1941', '1979-12-13', 35000000, 31755742, 10, 5.6, 'Steven Spielberg'), ('Indiana Jones and the Temple of Doom', '1984-05-23', 28000000, 333000000, 66, 7.1, 'Steven Spielberg'), ("Schindler's List", '1993-11-29', 22000000, 321365567, 104, 8.3, 'Steven Spielberg'), ('Raiders of the Lost Ark', '1981-06-12', 18000000, 389925971, 68, 7.7, 'Steven Spielberg'), ('Close Encounters of the Third Kind', '1977-11-16', 20000000, 303788635, 52, 7.2, 'Steven Spielberg'), ('The Color Purple', '1985-12-18', 15000000, 146292009, 17, 7.7, 'Steven Spielberg'), ('Jaws', '1975-06-18', 7000000, 470654000, 50, 7.5, 'Steven Spielberg'), ('E.T. the Extra-Terrestrial', '1982-04-03', 10500000, 792910554, 56, 7.3, 'Steven Spielberg'), ('Twilight Zone: The Movie', '1983-06-24', 10000000, 29450919, 12, 6.2, 'Steven Spielberg')]

# Most Important thing to do ->
* JOIN
* ORDER BY, GROUP BY
* SUBQUERY